<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="GrupoA-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/sample</jta-data-source>
    <class>modeloJPA.Asistencia</class>
    <class>modeloJPA.Comentario</class>
    <class>modeloJPA.Cuota</class>
    <class>modeloJPA.Documento</class>
    <class>modeloJPA.Evento</class>
    <class>modeloJPA.Historial</class>
    <class>modeloJPA.PagoCuota</class>
    <class>modeloJPA.Seccion</class>
    <class>modeloJPA.Usuario</class>
    <class>modeloJPA.UsuarioMenor</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
      <property name="javax.persistence.schema-generation.scripts.action" value="create"/>
      <property name="javax.persistence.schema-generation.scripts.create-target" value="scouts.dll"/>
    </properties>
  </persistence-unit>
</persistence>
