/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-abr-2018, 17:57:47
    Author     : PC
*/

#img1_inicio{
    float: left;
    margin-right: 10px;
    height: 170px;   
}

